---

- name: Ensure system is x86_64
  fail: msg="Docker requires a 64bit system architecture"
  when: "ansible_architecture != 'x86_64'"

- name: Include OS-specific tasks
  include_tasks: "{{ item }}"
  with_first_found:
    - files:
      - "{{ ansible_distribution|lower }}-{{ ansible_distribution_major_version }}.yml"
      - "{{ ansible_distribution|lower }}.yml"
      - "{{ ansible_os_family|lower }}.yml"
    
- name: Enable and start docker daemon
  service:
    name: docker
    state: started
    enabled: yes

- name: Add users to docker group
  user:
    name: "{{ item }}"
    append: "yes"
    groups:
      - "docker"
  with_items: "{{ docker_users }}"
